* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body, html{
    max-width: 100%;
    height: 100vh;
    background-color: rgb(230, 230, 255);
}

header {
    height: 35%;
    background-image: url('https://source.unsplash.com/random');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.push-right {
    margin-left: auto;
}

.menu {
    z-index: 3;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    border-bottom: 3px solid rgb(0, 59, 0);
}

.menu > ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    line-height: 0;
    padding: 1rem 10rem;
    list-style: none;
}

#login {
    padding: 1rem 1.5rem;
    background-color: rgb(2, 63, 0);
    color: white;
    text-decoration: none;
    border-radius: .5rem;
}

.flex-container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.flex-container aside {
    z-index: 2;
    flex: 1;
    background-color: white;
    box-shadow: -.3em 0 1rem rgba(0, 0, 0, 0.15);
}

.flex-container main {
    display: grid;
    white-space: nowrap;
    overflow-x: auto;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, 1fr);
    padding: 3rem;
    gap: 8rem;
    flex: 5;
    background-color: rgb(255, 250, 230);
}

.department-col {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(min(350px));
    grid-auto-columns: 350px;
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
    border-right: .5em solid rgb(0, 59, 0);

}

/* Shop Item Container */
.shop-item {
    background-color: white;
    border-radius: .5rem;
    display: flex;
    flex-flow: column wrap;
    place-content: center;
    padding: 1.3rem 1.0rem;
    gap: .7rem;
    position: relative;
    transition: box-shadow 500ms ease;
}

.shop-item > .item-image {
    flex: 1;
    width: 100%;
    background-image: url(https://source.unsplash.com/random);
    background-size: cover;
    background-position: center;
    border-radius: .325rem;
}

.shop-item > .item-desc {
    display: flex;
    flex-flow: column wrap;
    place-content: center;
    text-align: center;
    gap: .3rem;
}

.item-desc > .item-content {
    font-size: 1.5em;
    line-height: 1.2;
}

.item-desc > button {
    border: none;
    line-height: 0;
    background-color: rgb(0, 59, 0);
    padding: 1.2rem;
    width: 100%;
    color: white;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 1em;
}

.item-price {
    color: rgb(0, 59, 0);
}

/* Shop Item Container */

/* Shop Item Container Effects */

.shop-item::before {
    content: '';
    position: absolute;
    background-color: rgb(0, 59, 0);
    bottom: 2.5%;
    height: .250em;
    width: 0%;
    transition: 550ms;
}

.shop-item:focus::before,
.shop-item:hover::before {
    width: 65%;
}

.shop-item:focus,
.shop-item:hover {
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.item-desc > button:focus,
.item-desc > button:hover {
    transition: 500ms ease;
    background-color: wheat;
    color: rgb(0, 59, 0);
}
/* Shop Item Container Effects */

/* Deparment Styling */
.department {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    color: black;
    padding: 1.5rem;
    font-size: 1.2rem;
    line-height: 2;
    justify-content: center;
    gap: .5rem;
}

.department-item {
    display: flex;
    align-items: center;
    gap: .5em;
    border-top: .125rem solid rgb(0, 59, 0);
}

.item-icon {
    margin-left: .5em;
    width: 1.5em;
}

/* Deparment Styling */